{% extends 'store/layouts/main.html' %}

{% block main %}

<br><br><br>
<div class="container">
  {% include 'store/inc/message.html' %}
</div>
  <h2 class="container" style="color: blueviolet;"><span class="material-symbols-outlined">
    domain_add
    </span>Book Orders...</h2>
    {% if total %}
    <h4 class="container" style="color: green;">Total Orders Amount: {{total}} </h4>
    {% endif %}
    <div class="container">
    <div class="row">
{% if cart %}
        {% for i in cart %}

<div class="col lg 4" style="margin: 20px;">
<div class="card" style="width: 18rem;">
    <img src="{{i.book.img.url}}" alt="book img" class="card-img-top" style="height:250px;" alt="bookimg">
    <div class="card-body" style="height:100px;">
      <h6 class="card-title">Book Name:{{i.book.Book_name}} </h6>
  <p class="card-text">Price:{{i.book.price}}<br>Ordered Date:{{i.ordered_date}}</p>
    </div>
  </div>
  </div>
{% endfor %}
{% endif %}
  </div>
    </div>
{% endblock main %}